<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get Capacity</title>
    <link rel="stylesheet" href="capacity.css">
</head>
<body>

<div class="container">
  <div class ="header">
    <h1>Get Capacity </h1>
  </div>
    <form class ="form" id="form">
    <div class="form-control">
      <label for="date">Date:</label>
        <input type="date" id="date" name="date">
    </div>

      <button>Get capacity</button>
           <h5> Back to <a href="roomf.html"><b>booking</b></a> page  </h5>
  </form>


</div>

</body>
</html>